<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CarTime</title>
  <head th:replace="layout/common :: common">
  </head>
<body>

<div th:replace="layout/nav/nav :: nav"></div>
  <main>
    <div th:if="${not #strings.isEmpty(success_message)}">
      <div class="alert alert-success">
        <p th:text="${success_message}"></p>
      </div>
    </div>
    <div th:if="${not #strings.isEmpty(errors)}">
      <div class="alert alert-danger">
        <p th:utext="${errors}"></p>
      </div>
    </div>
  </main>
<div th:replace="layout/user/sign-up :: sign-up"></div>

<script th:replace="layout/common :: modal"></script>

</body>
</html>
