<div th:fragment="login">
<div class="modal" id="modal1">
    <div class="modal-content">
        <div>
            <h2 class="text-center">Login</h2>
            <form id="sign-in-form" th:action="@{/users/login}" method="post" th:fragment="sign-in">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" class="form-control" maxlength="40" title="password"
                           autocomplete="off" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
            <button class="closeModal btn btn-secondary btn-block mt-2" data-modal="modal1">Close</button>
        </div>
    </div>
</div>
</div>