<div th:fragment="sign-up">
    <!--  <div class="modal" id="modal2">-->
    <!--    <div class="modal-content">-->
    <!--      <h2>Modal Window 2</h2>-->
    <!--      <p>Content of modal window 2.</p>-->
    <!--      <button class="closeModal" data-modal="modal2">Close</button>-->
    <!--    </div>-->
    <!--  </div>-->
    <div class="modal" id="modal2">
        <div class="modal-content">
            <div>
                <h2 class="text-center">Sign up</h2>
                <form id="sign-up-form" th:action="@{/users}" method="post" modelAttribute="registration" th:fragment="sign-up">
                    <div class="form-group">
                        <label class="col-form-label" for="sign-up-login-input">Login:</label>
                        <input type="text" class="form-control" id="sign-up-login-input" name="login" required/>
                        <small class="text-danger" id="sign-up-login-error-small"></small>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="sign-up-first-name-input">Name:</label>
                        <input type="text" class="form-control" id="sign-up-first-name-input" name="name" required/>
                        <small class="text-danger" id="sign-up-first-name-error-small"></small>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="sign-up-lastname-input">Lastname:</label>
                        <input type="text" class="form-control" id="sign-up-lastname-input" name="lastname" required/>
                        <small class="text-danger" id="sign-up-lastname-error-small"></small>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="sign-up-email-input">Email:</label>
                        <input type="text" class="form-control" id="sign-up-email-input" name="email" required/>
                        <small class="text-danger" id="sign-up-email-error-small"></small>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="sign-up-phone-input">Phone:</label>
                        <input type="text" class="form-control" id="sign-up-phone-input" name="phone" required/>
                        <small class="text-danger" id="sign-up-phone-error-small"></small>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="sign-up-address-input">Address:</label>
                        <input type="text" class="form-control" id="sign-up-address-input" name="address" required/>
                        <small class="text-danger" id="sign-up-address-error-small"></small>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="sign-up-birthday-input">Birthday:</label>
                        <input type="date" class="form-control" placeholder="birthday" id="sign-up-birthday-input" name="birthday"
                               required/>
                        <small class="text-danger" id="sign-up-birthday-error-small"></small>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="sign-up-driver-license-input">Driver License number:</label>
                        <input type="text" class="form-control" id="sign-up-driver-license-input" name="driverLicenseNumber" required/>
                        <small class="text-danger" id="sign-up-driver-license-error-small"></small>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="sign-up-issue-date-input">Driver License issue date:</label>
                        <input type="date" class="form-control" placeholder="driver_license_issue_date" name="driverLicenseIssueDate"
                               id="sign-up-issue-date-input" required/>
                        <small class="text-danger" id="sign-up-issue-date-error-small"></small>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="sign-up-expired-date-input">Driver License expired date:</label>
                        <input type="date" class="form-control" placeholder="driver_license_expired_date"
                               id="sign-up-expired-date-input"  name="driverLicenseExpiredDate" required/>
                        <small class="text-danger" id="sign-up-expired-date-error-small"></small>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="sign-up-password-input">Password:</label>
                        <input type="password" class="form-control" id="sign-up-password-input" name="password" required/>
                        <small class="text-danger" id="sign-up-password-error-small"></small>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="sign-up-confirm-password-input">Confirm password:</label>
                        <input type="password" class="form-control" id="sign-up-confirm-password-input" required/>
                        <small class="text-danger" id="sign-up-confirm-password-error-small"></small>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-light" onclick="CheckFields()" value="Submit">
                            Sign up
                        </button>
                    </div>
                </form>
                <button class="closeModal btn btn-secondary btn-block mt-2" data-modal="modal2">Close</button>
            </div>
        </div>
    </div>
</div>